.beer-tile {
    border: 2px solid black;
    box-shadow: 0px 10px 20px rgba(black, 0.25);
    border-radius: 10px;
    max-width: 350px;
    // width: auto;
    // height: auto;
    padding: 10px;
    &__img {
        height: 150px;
        padding: 10px;
    }
    &__tagline {
        font-weight: bold;
    }
    &__desc {
        text-align: justify;
        margin: 10px;
    }
   
}